/*폰트 - 영어*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR:wght@500&family=Roboto+Mono:wght@300&display=swap');

/*폰트 - 한글*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR:wght@300&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


* {
  margin: 0;
  /* 마진 리셋 */
  padding: 0;
  /* 패딩 리셋 */
  /*font-family: FiraCode;*/
  box-sizing: border-box;
  /* 박스 영역은 테두리까지 */

  /*폰트 설정*/
  font-family: 'Noto Sans KR', sans-serif;

}

a {
  text-decoration: none;
  /* 텍스트 링크 밑줄 없애기 */
}

ul {
  list-style: none;
}

/*바디 전체*/
#container {
  margin: 0 auto;
  /* 화면 중앙에 배치 */
  /* width: max-content; */

  width: 100%;
  /* 너비 */
  background-color: rgb(255, 255, 255);
}

/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/

header {

  position: fixed;
  z-index: 20;


  width: 100%;
  /*  너비 */
  height: 100px;
  /* 높이 */
  
}

/* 로고 */
#logo {

  /* 왼쪽으로 플로팅 */
  width: 100%;
  /*  너비 */
  height: 50px;
  /* 높이 */
  line-height: 50px;
  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left: 150px;
  /* 왼쪽에 여백 */
  

  background-color: rgb(220, 224, 255);

}

/*로고 폰트/색상*/
#logo h1 {
  float: left;
  /*font-family: 'Merienda', cursive;*/
  /* font-family: 'Lora', serif; */
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-weight: 700;
  font-size: 35px;
  /* 글자 크기 */
  color: #fff;
  /* 글자 색*/
  /*text-shadow:0 -1px 0 #222;  /* 그림자 색 */
  /* margin-right: 100px; */
}

#login{
  float: right;
  font-weight: 400;
  padding-right: 150px;
}

#login>a:link{color:#8975b8; }
#login>a:visited { color:#8975b8; }

#logo {
  display: inline-block;
  position: relative;
  border-bottom: 0.5px solid rgb(205, 205, 205);
}

/* ------------------------------------------------------------------------------------- */
#search {
  margin-left: 52%;
  display: inline-block;
  position: relative;
}

/* ------------------------------------------------------------------------------------- */
#logo #search img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

/* ------------------------------------------------------------------------------------- */

input {
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 6px 13px;
  font-size: 14px;
  width: 300px;
  font-weight: 200;
}

img {
  position: relative;
  width: 15px;
  top: 10px;
  /* margin: 0; */
  margin-top: 2px;
}

/* 내비게이션 태그*/
nav {


  float: right;
  /* 오른쪽으로 플로팅 */
  width: 100%;
  /*   너비 */
  height: 50px;
  /* 메뉴 영역 높이 */

  /*중간에 맞추기*/
  line-height: 50px;

  /* 메뉴를 로고와 맞추기 */
  padding-left: 150px;
  border-bottom: 0.5px solid rgb(205, 205, 205);
  /* background-color: rgb(183, 190, 248); */
}

/*id : topMenu*/
#topMenu {
  height: 50px;
  background-color: #fff;
  border-bottom: 0.5px solid rgb(205, 205, 205);

}

#topMenu>li {
  float: left;
  /* 메뉴 항목을 왼쪽으로 플로팅 */
  position: relative;
}

/*상단메뉴 설정*/
#topMenu>li>a {
  display: block;
  /* 링크 텍스트는 블록으로 */
  font-size: 1.1em;
  color: rgb(175, 177, 183);
  /* 글자 색 */
  font-weight: 500;
  /* 글자 굵기 */
  /* 패딩 */
  padding-right: 70px;
}

#topMenu>li>a:hover {
  color: #8a86cc;
  /*text-shadow:0 -2px #222;*/
}




/******************/
/*   푸터 영역    */
/******************/

footer {
  width: 100%;
  /* 너비 */
  height: 100px;
  /* 높이 */
  border-top: 1.5px solid rgb(120, 120, 120);

}

#bottomMenu {
  width: 100%;
  height: 20px;
}

#bottomMenu ul {
  margin-top: 15px;
  text-align: center;
  /* ------------------------------------------------------------------------------------- */

}

#bottomMenu ul li {
  /* float:left */
  /* ------------------------------------------------------------------------------------- */
  display: inline-block;
  /* ------------------------------------------------------------------------------------- */
  /* 가로로 배치 */
  padding: 5px 20px;
  border-right: 0.2px solid #ddd;
  /* 항목 오른쪽에 테두리 */
}

#bottomMenu ul li:last-child {
  border: none;
  /* 마지막 항목에는 오른쪽 테두리 없음 */
}

#bottomMenu ul li a,
#bottomMenu ul li a:visited {
  font-size: 14px;
  /* 글자 크기 */
  color: #666;
  /* 글자 색 */

}

/*top-ten*/
#topTen{
  width: 100%;
  height: 720px;
}

.container {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  /* justify-content: space-between; */
  /* display: inline-flex; */
}

#topTen > ul {
  width: 100%;
}


a:link{color : #212529;}
a:visited { color:#212529; }
a:hover { color:#212529; }

li {
  list-style-type: none;
}

/*RESET*/

* {

  margin: 0;

  padding: 0;

}



body {

  font: 17px 'Nanum Gothic', sans-serif;

}



a {

  text-decoration: none;

  color: #404040;

}



li {

  list-style: none;

}



/*BODY*/

#notice {

  width: 500px;

  margin: 0 auto;

  box-sizing: border-box;

  /*outline: 1px dashed black;*/

}



#notice h1 {

  font-size: 25px;

  text-align: center;

  margin: 10px 180px;

  padding: 10px;

  color: #fff;

  background: #007AAE;

  border-radius: 30px;

}



#notice ul {

  width: 100%;

}



#notice ul li {

  line-height: 30px; /*li 세로 간격*/

  padding-left: 20px;

}



#notice ul li:first-child {

  border-top: 2px solid #6a6a6a;

  border-bottom: 2px solid #6a6a6a;

  padding-left: 150px;

}



#notice ul li:last-child {

  border-bottom: 1px solid #000;

}



#notice ul li:nth-child(2n) { 

  background: #94D8F6;

  border-radius: 20px;

}



#notice ul li span {

  display: inline-block;

  float: right;

  width: 150px;

  text-align: center;

}




table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.containers {
  width: 1100px;
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}


#board-lst{

}