/*폰트 - 영어*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR:wght@500&family=Roboto+Mono:wght@300&display=swap');

/*폰트 - 한글*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR:wght@300&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


* {
    margin: 0;
    /* 마진 리셋 */
    padding: 0;
    /* 패딩 리셋 */
    /*font-family: FiraCode;*/
    box-sizing: border-box;
    /* 박스 영역은 테두리까지 */
  
    /*폰트 설정*/
    font-family: 'Noto Sans KR', sans-serif;
  
}

a {
  text-decoration: none;
  /* 텍스트 링크 밑줄 없애기 */
}

ul {
  list-style: none;
}

/*바디 전체*/
#container {
  margin: 0 auto;
  /* 화면 중앙에 배치 */
  width: 100%;
  /* 너비 */
  background-color: rgb(255, 255, 255);
}

/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/

header {
  width: 100%;
  /*  너비 */
  height: 100px;
  /* 높이 */
}

/* 로고 */
#logo {
  /* 왼쪽으로 플로팅 */
  width: 100%;
  /*  너비 */
  height: 50px;
  /* 높이 */
  line-height: 50px;
  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left: 150px;
  /* 왼쪽에 여백 */

  background-color: rgb(220, 224, 255);

}

/*로고 폰트/색상*/
#logo h1 {
  float: left;
  /*font-family: 'Merienda', cursive;*/
  /* font-family: 'Lora', serif; */
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-weight: 700;
  font-size: 35px;
  /* 글자 크기 */
  color: #fff;
  /* 글자 색*/
  /*text-shadow:0 -1px 0 #222;  /* 그림자 색 */
  /* margin-right: 100px; */
}

#login{
  float: right;
  font-weight: 400;
  padding-right: 150px;
}

#logo {
  display: inline-block;
  position: relative;
  border-bottom: 0.5px solid rgb(205, 205, 205);
}

/* ------------------------------------------------------------------------------------- */
#search {
  margin-left: 52%;
  display: inline-block;
  position: relative;
}

/* ------------------------------------------------------------------------------------- */
#logo #search img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

input {
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 1px 13px;
  font-size: 14px;
  width: 300px;
  height: 40px;
  font-weight: 200;
}

img {
  position: relative;
  width: 15px;
  top: 10px;
  /* margin: 0; */
  margin-top: 2px;
}

/* 내비게이션 태그*/
nav {
  float: right;
  /* 오른쪽으로 플로팅 */
  width: 100%;
  /*   너비 */
  height: 50px;
  /* 메뉴 영역 높이 */

  /*중간에 맞추기*/
  line-height: 50px;

  /* 메뉴를 로고와 맞추기 */
  padding-left: 150px;
  border-bottom: 0.5px solid rgb(205, 205, 205);
  /* background-color: rgb(183, 190, 248); */
}

/*id : topMenu*/
#topMenu {
  height: 50px;
}

#topMenu>li {
  float: left;
  /* 메뉴 항목을 왼쪽으로 플로팅 */
  position: relative;
}

/*상단메뉴 설정*/
#topMenu>li>a {
  display: block;
  /* 링크 텍스트는 블록으로 */
  font-size: 1.1em;
  color: rgb(175, 177, 183);
  /* 글자 색 */
  font-weight: 500;
  /* 글자 굵기 */
  /* 패딩 */
  padding-right: 70px;
}

#topMenu>li>a:hover {
  color: #8a86cc;
  /*text-shadow:0 -2px #222;*/
}



/*-------------------------------------------------*/

.nav-item .nav-link .fa, .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    max-width: 24px;
    margin-top: 0px;
}

.nav-item .nav-link {
    position: relative;
    color: inherit;
    padding: .9375rem;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    line-height: 20px;
}

a .material-icons {
    vertical-align: middle;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
}

.profile-page .page-header {
    height: 380px;
    background-position:center;
}

.page-header {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: rgba(0,0,0,.5);
}

.main-raised {
    margin: 150px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(202, 198, 203, 0.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    height: 900px;
    /* margin-bottom: 100px; */
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.avatar {
    text-align: center;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.img-size {
    height: 150px;
    width: 150px;
    margin-top: -80px;
}

/* 닉네임 텍스트 */
.title {
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    text-align: center;
    /* font-family: "Roboto Slab","Times New Roman",serif; */
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

p {
    font-size: 15px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}

.nav-pills, .nav-tabs {
    border: 0;
    border-radius: 3px;
    /* padding: 0 15px; */
    margin-top: 50px;
}

.nav .nav-item {
    position: relative;
    margin: 0 20px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #8a86cc;
    box-shadow: 0 5px 20px 0 rgba(154, 152, 155, 0.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: rgba(200,200,200,.2);
}


.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.tab-space {
    padding: 20px 0 50px;
}

.profile-page .gallery {
    margin-top: 3.213rem;
    padding-bottom: 50px;
}

.profile-page .gallery img {
    width: 100%;
    margin-bottom: 2.142rem;
}

.profile-page .profile .name{
    margin-top: -80px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}

.product-list {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.product {
    /* width:220px; */
    /* height:200px; */
    text-align: center;
    display: block;
    color: #545454;
    text-decoration: none;
    float: left;
    /* object-fit: cover; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.product-name {
    margin-top: 20px;
    margin-bottom: 4px;
}


.material-symbols-rounded {
    display: table-cell;
    vertical-align: middle;
    /* margin-bottom: 5px;
    margin-left: 10px; */
    margin-left: auto;
    margin-right: auto;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.his-img-size {
    width: 150px;
    height: auto;
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}
